// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;





$light-gray: #F4F4F4;
$my-blue: #528BC9;
$my-light-blue: #d3e2f1;
$my-dark-blue: #2f6197;
$my-dark-pink: #b0367d;
$my-pink: #D16AA6;
$my-light-pink: #EFCFE4;
$my-lightgray: #fdfdfd;

$login-main-color:#528BC9;

$dark_blue:#3b5ca1;
$light_blue:#45b0e4;
