body {
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-weight: 500;
  font-size: 32px;
}


p {
  color: $gray;
  font-size: 16px;
  font-weight: 300;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered h1{
  font-size: 48px;
  text-align: center;
}

.centered a {
 font-size: 24px;
}

.page-content {
  min-height: calc(100vh - 160px);
  padding-top: 80px;
}

.page-title {
  padding-top: 16px;
  text-align: left;
}

.page-title h1 {
  color: $my-blue;
}

.page-title p {
  font-size: 18px;
}
